{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>Выбранная категория: {{ category.title }}</h1>
{% if reviews %}
<a href="{{ url_for('views.category_ascending_sort_rating', id=category.id) }}"><h3>Сортировать по возрастанию оценки </h3></a>
<a href="{{ url_for('views.category_descending_sort_rating', id=category.id) }}"><h3>Сортировать по убыванию оценки </h3></a>
{% for r in reviews %}
               <a href="{{ url_for('views.review', id=r.id) }}"><h1>{{ r }}</h1></a>
{% endfor %}
{% else %}
<h2>В данной категории ещё нет отзывов</h2>
{% endif %}
{% endblock %}