{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>ID: {{ review.id }}</h1>
<h1>Название: {{ review.title }}</h1>
<h1>Оценка: {{ review.rating }}</h1>
<h1>Отзыв: {{ review.review_text }}</h1>
<h1>Категория: {{ review.category_id }}</h1>
<a href="{{ url_for('review_update', id=review.id) }}">Редактировать</a>
<form action="{{ url_for('review_delete', id=review.id) }}" method="post"
onsubmit="return confirm('Вы действительно хотите удалить этот отзыв?');">
<input type="submit" value="Удалить">
</form>
{% endblock %}